body{
    margin: 0;
    width :100vw;
    height: 100vh;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#main{
    width: 100%;
    height: 100%;
    background-color: #222629;
}

#navbar{
    display: flex;
    color:#86c232;
    align-items: center;
    padding : 0px 25px;
}

#nav-textpart{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

#nav-menu-part{
    width:40%;
   display: flex;
   flex-wrap: nowrap;
   justify-content: flex-end;

}

#menu{
    margin-right: 15px;
    color: #b0b1b1cc;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
}

#board{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #222629;
    padding: 0% 20%;
    height: 70%;  
}

#board-main-column{
    display: grid;
    grid-template-rows: 10% repeat(15,6%);
    margin: 0.15px;
}

.demo-box{
    background-color: #4b662d;
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-radius: 4px;
    color: #b0b1b1;
    border-bottom-style: outset;
    border-width: 0.15px;
    border-color: #86c23294;
}
.num-text{
    background-color: #1b1d1c;
    color: #cbced2;
    font-weight: 400;
    padding-left: 15px;
    font-style: italic;
    margin-bottom: 0.15px;
    margin-right: 0.15px;
    border-bottom-style: solid;
    border-width: 0.9px;
    border-color: #222629;
    border-radius: 2.5px;
    align-items: center;
}

.player-column{
    display: grid;
    grid-template-rows: 10% repeat(15,6%);
    margin: 0.15px;

}

.player-name{
    background-color: #1b1d1c;
    color: rgba(255, 255, 255, 0.726);
    display: flex;  
    align-items: center;
    justify-content: center;


}

.player-score{
    background-color: #2e353b;
    border-bottom-style: outset;
    border-left-style: solid;
    border-width: 0.15px;
    border-bottom-color: #86c23294;
    border-left-color: #222629;
}

.player-score:hover{
    background-color: #86c232a8;
    transition-delay: 0.1ms;
}

#dice-board{
    margin: 10px 20%;
    height: 15%;
    background-color: #2e353b;
    border-radius: 3px;
}








